*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
body{
    background: #34a0a4;
}
header{
    width: 100%;
    height: 90px;
    background-color: rgba(244,241,234,255);
}
.interior{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.logo{
    float: left;
    padding: 5px 20px 0;
}
.logo img{
    height: 80px;
}
.logo img:hover{
    transform: scale(1.1);
}
.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion ul{
    list-style: none;
    padding: 0 10px;
}
.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}
.navegacion ul li:hover{
    transform: scale(1.1);
}
.navegacion ul li a{
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}
.navegacion ul li a:hover{
    color: #00c9bd;
    transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
    display: block;
}
.navegacion .submenu .hijos{
    display: none;
    background: #f4f1ea;
    position: absolute;
    width: 120%;
}
.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
    padding: auto;
}
.navegacion .submenu .hijos li a{
    display: block;
}
.catalogo-vn {
    width: 43%;
    background: #00c9bd;
    height: 300px;
    margin: 20px;
    margin-top: 50px;
    overflow: hidden;
    margin: auto;
}
.catalogo-vi {
    width: 43%;
    background: #00c9bd;
    height: 300px;
    margin: 20px;
    margin-top: 50px;
    overflow: hidden;
    margin: auto;
}
.catalogo-o {
    width: 15%;
    background: #00c9bd;
    height: 300px;
    margin: 20px;
    margin-top: 50px;
    overflow: hidden;
    margin: auto;
}
.item {
    width: 250px;
    float: left;
    margin: 10px;
}