*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
body{
    background: #34a0a4;
}
header{
    width: 100%;
    height: 90px;
    background-color: rgba(244,241,234,255);
}
.interior{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.logo{
    float: left;
    padding: 5px 20px 0;
}
.logo img{
    height: 80px;
}
.logo img:hover{
    transform: scale(1.1);
}
.navegacion{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion ul{
    list-style: none;
    padding: 0 10px;
}
.navegacion ul li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
}
.navegacion ul li:hover{
    transform: scale(1.1);
}
.navegacion ul li a{
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}
.navegacion ul li a:hover{
    color: #00c9bd;
    transform: scale(1.1);
}
.navegacion ul li:hover .hijos{
    display: block;
}
.navegacion .submenu .hijos{
    display: none;
    background: #f4f1ea;
    position: absolute;
    width: 120%;
}
.navegacion .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
    padding: auto;
}
.navegacion .submenu .hijos li a{
    display: block;
}
.form-register {
    width: 60%;
    background: #1b6d70;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
  
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
  
.controls {
    width: 100%;
    background: #34a0a4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
  
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
  
.form-register a {
    color: white;
    text-decoration: none;
}
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
}
  
.form-register .botons {
    width: 100%;
    background: #34a0a4;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.txtarea {
    width: 100%;
    height: 100px;
    background: #34a0a4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}